/* MAIN */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #3161E0;
    min-height: 594px;
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #23272A;
    height: 740px;
    display: flex;
    flex-direction: column;
}
/* Classi *

    /* Classe HEADER */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
}

.header {
    font-size: 17px;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 8px;
}

.hBlocco1, .hBlocco3 {
    width: 30%;
    padding-top: 0;
}

.hBlocco2 {

}

.download {
    height: 58px;
    width: 230px;
}

.frecciaDownload {
    height: 18px;
    padding: 0px 3px 0 0;
}

.tastoBrowser {
    height: 58px;
    width: 340px;
}

.tasto {
    border-radius: 30px;
    font-size: 20px;
    margin: 0 10px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.background {
    background-image: url(../img/jumbo.png);
    height: 803px;
    background-size: cover;
}

.quadratoViola {
    height: 550px;
    width: 50%;
    margin: 40px auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 50px;
}

    /* Classe MAIN */
.imgMain {
    height: 615px;
    width: 60%;
    margin: 70px auto;
    background-size: 840px;
    background-repeat: no-repeat;
}

.imgMainBig {
    height: 750px;
    margin: 25px auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgItem1 {
    background-image: url(../img/item1.svg);
}

.imgItem2 {
    background-image: url(../img/item2.svg);
}

.imgItem3 {
    background-image: url(../img/item3.svg);
}

.imgItem4 {
    background-image: url(../img/item4-big.svg);
}

.hSize {
    font-size: 55px;
}

.quadratoRosa {
    height: 615px;
    width: 40%;
    margin: 70px auto;
}

.paddingLeft {
    padding-left: 135px;
    padding-top: 45px;
}

.paddingRight {
    padding-right: 135px;
    padding-top: 45px;
}

.paddingVerde {
    padding: 25px 110px 0 110px;
}
.quadratoVerde {
    background-color: #238B21;
    height: 1110px;
    border: 2px dashed black;
    width: 100%;
    margin: 40px auto;
}

.bgStar {
    background-image: url(../img/stars.svg);
}

.backgrGray {
    background-color: #F6F6F6;
}

.mainContainer {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

 /* Classe FOOTER */

 .quadratoPesca {
    background-color: #F08080;
    height: 569px;
    border: 2px dashed black;
    width: 25%;
    margin: 40px auto;
}

.quadratoPetrolio {
    display: flex;
    background-color: #20B2AA;
    height: 569px;
    border: 2px dashed black;
    width: 75%;
    margin: 40px auto;
}

.sottocella {
    border: 2px dashed white;
    width: 25%;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    background-color: #7FFFD4;
    margin-top: 23px;
}

.footerBox {
    border: 2px dashed black;
    background-color: #FFB6C0;
    align-self: center;
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 17px; 
    padding-top: 3px;

}

.bold {
    font-weight: 600;
}

.pSize {
    font-size: 26px;
}

.pCenter {
    text-align: center;
}

.white {
    color: white
}

/* TAG */
hr {
    background-color: #D3D3D3;
}

a {
    color: white;
    text-decoration: none;
    padding: 0px 20px;
}

button {
    background-color: white;
    border-radius: 21px;
    border: white;
    width: 78px;
    height: 42px;
}

h1 {
    font-size: 65px;
    color: white;
}

p {
    font-size: 23px;
    padding-top: 25px;
    line-height: 32px;
}